@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


* {
    font-family: "Poppins", Helvetica, sans-serif;
}

body {
    background-color: #EFF5FB;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

a {
    color: inherit;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 14%;
    padding: 2em;
}

.HeaderMobile {
    display: none;
}

.main-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

h1 {
    font-weight: 800;
    color: #1D476D;

}

header button {
    border: 2px solid #BEDDF8;
    border-radius: 32px;
    width: 182px;
    height: 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: medium;
    color: #1D476D;
    background-color: #fff;
    font-weight: 600;
    appearance: none;
    cursor: pointer;

}

/* Main */

main {
    width: 80vw;
    height: 70vh;
    margin-top: 4vh;
    border-radius: 24px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;


}

main h1 {
    font-weight: 600;
}

main p {
    color: #1D476D;
}

iconify-icon {
    color: #0D4A81;
}

.empty-state {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


/* Books List */
.full-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.title-bar {
    margin-top: 32px;
    width: 96%;
    height: 40px;
    display: flex;
    gap: 8vw;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #f7f7f7f7;
    border-radius: 8px;
}

.titlebookname {
    margin-left: 5vw;

}

.divider {
    width: 2px;
    height: 26px;
    background: #D9D9D9;
    border-radius: 40px;
}

.title-bar div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title-bar h4 {
    margin-left: 12px;
    font-weight: 600;
    font-size: 16px;
    color: #1D476D;
}


#listofBooks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 4px;
    overflow-y: scroll;

}

.BookItem {
    margin-top: 32px;
    width: 96%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F3F3F3;
    border-radius: 8px;
    padding-bottom: 8px;
}

.BookDetails {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.BookDetails p {
    text-align: left;
    overflow-wrap: break-word;
}

#check {
    appearance: none;
    padding: 9px;
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    border: 4px solid #D9D9D9;
    border-radius: 8px;
    cursor: pointer;
    display: flex;

}

#check:checked {
    content: '';
    background-color: #1D476D;
}




#BookName-List {
    width: 14vw;
}

#Author-List {
    width: 12vw;
}

#Pages-List {
    width: 12vw;
}



.BookImgName {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

#BookImgpreview {
    margin-left: 2vw;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-image: url(assets/defaultimage.png);
    background-size: cover;

}

.List-Actions {
    margin-right: 4vw;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.BookItem button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #BEDDF8;
    border-radius: 32px;
    cursor: pointer;
}


/* Add Book Modal */

.addbook {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200%;
    width: 100vw;

    visibility: hidden;

}

.modalBack {
    position: fixed;
    width: 100vw;
    height: 200vh;
    background: rgba(217, 217, 217, 0.4);
    backdrop-filter: blur(4px);
    z-index: 1;
}


.addbookmodal {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: auto;
    padding-bottom: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

@media only screen and (max-width: 720px) {
    .addbookmodal {
        width: 100vw;
    }

    .title-bar {
        gap: 1vw
    }

    .titlebookname {
        margin-left: 0vw;

    }

    header {
        flex-direction: column;
        display: none;
    }

    .HeaderMobile {
        display: flex;
        width: 100%;

    }

    .HeaderMobile>div+div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20vw;
    }

    .BookItem {
        width: 100%;
    }

    #Author-List {
        width: 16vw;
    }

    .BookImgName {
        display: flex;
        align-items: center;
        margin-left: 2vw;
        flex-direction: row;
        margin-left: 2vw;
        gap: 2px;
    }

    .divider {
        opacity: 0;
    }

    #BookName-List {
        margin: 2px;
    }

    .title-bar {
        margin-top: 20px;
        width: 96%;
        height: 64px;
    }

    .title-bar h4 {
        margin-left: 8px;
        font-weight: 600;
        font-size: 16px;
    }

    #BookImgpreview {

        margin-left: 0vw;
        width: 24px;
        height: 24px;
        margin: 12px;
        border-radius: 4px;
        background-image: url(assets/defaultimage.png);
        background-size: cover;

    }


    main {
        width: 96vw;
    }
}


.addbookmodal h2 {
    color: #1D476D;
}



form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 8px;

}

input {

    height: 48px;
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    padding-left: 8px;

}

input:focus {
    border: 1px solid #0D4A81;
    outline: 0;
}


select {

    height: 52px;
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

label {
    font-weight: 600;
    font-size: 16px;
    margin-top: 8px;
    color: #1D476D;
    ;
}

.addbookbutton {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-color: #1D476D;
    height: 48px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

#submitEdit {
    display: none;
}


.Add-book-button:hover {
    background-color: #133D63;
    transition: 0.2s;
}

.pagenread {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1vw;
}


#img {
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
    background-color: #0D4A81;


}

.imgUpload {
    margin-top: 8px;
    width: 100%;
    height: 100px;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.addImgSpacer p {
    padding: 0;
    margin: 0;
    color: #C4C4C4
}

.addImgSpacer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.uploadIcon {
    font-size: x-large;
    cursor: pointer;
    color: #C4C4C4;
    padding-top: 20px;
    padding-left: 140px;
    padding-right: 140px;
}

#imageName {
    margin-top: 0px;
    color: #c4c4c4
}